button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin: 5px;
}

ul {
    list-style-type: none;
    text-align: center;
}

/* #modal-container {
    display: none;
} */

/* #modal-container.is-visible {

    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);

    /* to show it above other content */
    /* z-index: 999;

    to allow scrolling if the screen is not high enough
    overflow: auto;

    /* this is used to center the modal */
    /* display: grid;
    text-align: center;
} */ 

/* .modal {
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    background: #fff;
    padding: 15px;
    width: 100%;
    max-width: 400px;
    text-align: left;
    background-color: #c6e3f7;
    position: absolute;
    inset: 20px;
} */

/* .modal-close {
    float: right;
    -webkit-appearance: none;
    border: 0;
    background: none;
    color: #777;
    text-decoration: underline;
}

.modal h1 {
    margin-top: 0;
}

.modal p {
    margin-bottom: 0;
} */ */

#image-container {
    position: absolute;
    margin: auto;
    height: 50px;
    width: 50px;
}